body	{
	background-color:	white;
	color:	black;
}

#header-nav, #mainsection 	{
	background-color:	#D3D3D3;
}

#mainsection {
	height:	1000px;
}


#nav-list > li > a {
	color:	black;
}

button.navbar-toggle {
	border:	3px,solid,black;
	margin-top:	-50px;
	clear:	both;
}
